alembic==0.9.9
certifi==2018.1.18
chardet==3.0.4
click==6.7
dbschema==1.2.2
decorated==1.9.5
extras==1.0.0
fixtures==3.0.0
fixtures2==0.1.8
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
linecache2==1.0.0
Mako==1.2.2
MarkupSafe==1.0
pbr==3.1.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pymongo==3.6.1
PyMySQL==0.8.0
python-dateutil==2.7.0
python-editor==1.0.3
python-mimeparse==1.6.0
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.5
SQLAlchemy-Dao==1.3.1
SQLAlchemy-ORM-tree==0.1.2
SQLAlchemy-SQLSchema==0.1
testtools==2.3.0
traceback2==1.4.0
txpostgres==1.6.0
unittest2==1.1.0
urllib3==1.22
Werkzeug==0.14.1
xlrd==1.1.0
